*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Expressway;
  background: black;
  color: white;
  border-radius: 10%;
}
body,
header,
div,
main {
  border-radius: 15px;
}
main {
  margin-left: 190px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 20px 10px 20px;
  width: 700px;
  text-align: justify;
  background-color: #9e0031;
}
nav {
  display: block;
}
input,
textarea {
  display: block;
  margin-bottom: 15px;
}
input[type="radio"] {
  display: inline;
}
textarea {
  width: 400px;
  height: 90px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #00a8e8;
}
input {
  text-align: center;
}
header {
  margin-top: 20px;
  padding: 1px 10px 10px 20px;
  background-color: #086788;
}
footer {
  position: absolute;
  height: 20px;
  bottom: 1;
  text-align: center;
  width: 100%;
  background-color: #9e0031;
  margin: 0px;
}
h1,
h2,
h3 {
  text-shadow: 2px 2px black;
}
img {
  display: block;
  width: 200px;
  margin: auto;
}
table,
th,
td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 15px;
  margin: auto;
}
.sideBar {
  z-index: 1;
  height: auto;
  position: absolute;
  width: 150px;
  top: 20px;
  left: 20px;
  background-color: #9e0031;
  padding-bottom: 10px;
}
.sideBar a {
  display: block;
  padding: 20px 0px 15px 15px;
}
.backgroundBlue {
  background-color: #009ffd;
}
.questions {
  color: white;
  padding: 5px 15px 15px 15px;
  background-color: #086788;
}
.questionsSection {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 7px;
}
.questionsSection h2 {
  text-align: left;
}
.mainContent {
  margin-top: 30px;
  background-color: black;
  padding: 5px 15px 15px 15px;
}
